body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size:42px;
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0 5px 20px 20px;
}

button:hover {
  background-color: #3e8e41;
}

#add-button{
  font-size:22px;
  margin:auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.list-item button {
  margin-left: 10px;
}

.list-item input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.date {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

